/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*--END CSS RESET--*/


/*--HELPER CLASSES--*/

.alignLeft {
    float: left
}

.alignRight {
    float: right;
}


/*--END HELPER CLASSES--*/


/*--Global Styles--*/

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'HelveticaNeue-Thin';
}

h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}


/*--HEADER SECTION--*/

#hero {
    background-image: linear-gradient(rgba(218, 51, 46, .6), rgba(218, 51, 46, 0.6)), url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}

.logo {
    display: flex;
}


/*--NAVIGATION--*/

nav {
    display: flex;
}

nav li {
    display: inline-flex;
    margin-right: 24px;
    font-size: 1rem;
}

nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 15px;
    padding-bottom: 3px;
    transition: .5s .15s;
}

nav a:hover {
    border-bottom: 4px solid #fff;
}



/*--END NAVIGATION--*/



.cta {
    display: inline-block;
    margin-top: 90px;
    position: relative;
}

.cta-img {
    float: right;
    position: absolute;
    right: -135px;
}

.iphone {
    width: 85%;
    position: relative;
    margin-bottom: -240px;
}

.cta-info {
    width: 60%;
    padding-right: 140px;
    float: left;
}

#hero h2 {
    color: #fff;
    font-family: 'montserrat', sans-serif;
    margin-bottom: 40px;
}

.hero-p {
    color: #fff;
    font-size: 2.25rem;
    font-family: 'HelveticaNeue-Thin' sans-serif;
    line-height: 40px;
    margin-bottom: 55px;
}

.cta-button {
    padding: 23px 35px;
    background: #282828;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    transition: .3s;
}

.cta-button:hover {
    background: #383737;
}

.phone-icon {
    padding-right: 20px;
    vertical-align: middle;
}


/*--END HEADER SECTION--*/


/*--APP FEATURES--*/

#app-features .container {
    text-align: center;
    padding: 60px 20px;
}

h2.app-features {
    color: #8a8a8a;
    margin-bottom: 40px;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 52px;
}

.p-features {
    font-family: 'HelveticaNeue-Thin' sans-serif;
    font-size: 1.375rem;
    line-height: 25px;
    padding: 0 130px;
    margin-bottom: 40px;
}

.col-4-app {
    width: 33%;
    float: left;
    padding: 0 45px;
}

.col-4-app p {
    font-family: 'HelveticaNeue-Thin' sans-serif;
    font-size: 1.125rem;
    line-height: 24px;
    color: #646464;
}

.row {
    overflow: hidden;
    margin-top: 50px;
}

.row h3 {
    font-family: 'montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0;
    text-transform: uppercase;
}


/*--END APP FEATURES--*/


/*--DOWNLOAD-- --CREEPY CLOWN SECTION--*/

#nose {
    background: url(../images/clown.png);
    background-size: cover;
    background-position: center;
}

.download-info {
    width: 50%;
    padding: 160px 0;
}

#nose h2 {
    margin-bottom: 40px;
    font-family: 'montserrat', sans-serif;
    font-size: 3.25rem;
    font-weight: 700;
}

.nose-p {
    font-family: 'HelveticaNeue-Thin' sans-serif;
    font-size: 1.5rem;
    line-height: 30px;
    margin-bottom: 60px;
    color: #585858;
}

.download-btn {
    padding: 16px;
    background: #d9332d;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    margin-left: 20px;
}

.download-btn:hover {
    background: #c33934;
}

.red {
    color: #f55150;
}

.white {
    color: #fff;
}


/*--END--DOWNLOAD CREEPY CLOWN SECTION--*/


/*--FOOTER SECTION--*/

footer {
    background: #2e2e38;
    color: #fff;
}

footer .container {
    padding: 120px 20px;
}

footer h4 {
    font-size: 1.25rem;
}

.popular-posts li {
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 70px;
}

.col-4-footer {
    width: 33%;
    float: left;
    margin-top: 77px;
    padding: 30px;
}

ul.popular-posts,
ul.tweets {
    margin-top: 25px;
    font-family: 'HelveticaNeue-Thin' sans-serif;
}

.red-bg {
    background: url('../images/red-rectangle.png') no-repeat;
}

.block {
    display: block;
}

.about {
    font-family: 'HelveticaNeue-Thin' sans-serif;
    font-size: 1rem;
    line-height: 20px;
    font-style: italic;
    margin-top: 25px;
}

footer h4 {
    font-size: 1.25rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
}

.tweets li {
    margin-bottom: 25px;
    
}

.sm-text {
    font-size: .6875rem;
    margin-top: 5px;
}

.blog-posts,
.twitter-posts{
    color: #fff;
    text-decoration: none;
}



.blog-posts:hover,
.twitter-posts:hover{
    color: #c33934;
    transition: .4s;
}


/*--END--FOOTER SECTION--*/


/*--COPYRIGHT SECTION--*/

.copyright .container {
    padding: 45px 0;
    text-align: center;
}

.copyright {
    background: #d7dedc;
}

.inline {
    display: inline-block;
    font-family: 'HelveticaNeue-Thin' sans-serif;
    font-size: 1.25rem;
    vertical-align: middle;
}

.cr,
.me {
    margin-right: 40px;
}

.cr:after,
.me:after {
    content: "|";
    margin-left: 40px;
    color: #5555;
}

.me a {
    text-decoration: none;
    color: #000;
    transition: .4s;
}

.me a:hover {
    color: #c33934;
    transition: .4s;
}

.fb,
.drib {
    margin-right: 40px;
}


/*--END--COPYRIGHT SECTION--*/


/*--ANIMATIONS--*/

.iphone-on {
    position: absolute;
    right: 175px;
    top: 112px;
    width: 54%;
}

.iphone-btn {
    position: absolute;
    right: 215px;
}

.js-wp-2 {
    opacity: 0;
}

.js-wp-2.animated {
    opacity: 1;
}

.js-wp-3 {
    opacity: 0;
    animation-delay: 2.3s;
}

.js-wp-3.animated {
    opacity: 1;
}

.fadeInLeft,
.fadeInRight,
.fadeInUp {
    animation-delay: 1.2s;
}


/*--END--ANIMATIONS--*/






